<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common">

<title>Validate Account</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<!-- Optional theme -->
<link rel="stylesheet"
	href="/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css" />

<script src="/webjars/jquery/1.12.4/jquery.min.js"
	type="text/javascript"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="h/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
.make-background-grey {
	/*background-color: graytext;*/
	color: graytext;
}
</style>

</head>
<body>
</body>
</html>